{% extends 'base.html' %}


{% block title %}
    {{ object.title }} |
{% endblock %}

{% block content %}
    <div class="post">
        <span>
            <a href="{% url 'home community' slug_community=post.community.slug %}">r/{{ post.community }}</a>
            <a href="{% url 'profile details' slug=post.owner.slug %}">{{ post.owner }}</a>
            {{ post.date_made|timesince }} ago
        </span>
        <h4>{{ post.title }}</h4>
        {% if post.image %}
        <img src="/media/{{ post.image }}" height="500" width="500" alt="img8">
        {% endif %}
        <p>{{ post.description|wordwrap:100|linebreaksbr }}</p>
        <br>

        <div class="vote-section">
            <span>
                {% if post.points_count == 1 %}
                    {{ post.points_count }} upvote
                {% elif post.points_count > 1 or post.points_count == 0 %}
                    {{ post.points_count }} upvotes
                {% else %}
                    {{ post.points_count }} downvotes
                {% endif %}

                <a href="{{ post.upvote_post_absolute_url }}">
                    {% if not post.upvoted %}
                        Upvote
                    {% else %}
                        Unupvote
                    {% endif %}
                </a>
                <a href="{{ post.downvote_post_absolute_url }}">
                    {% if not post.downvoted %}
                        Downvote
                    {% else %}
                        Undownvote
                    {% endif %}
                </a>
            </span>
        </div>

        <span>
            {% if post_comments_amount == 1 %}
                {{ post_comments_amount }} comment
            {% else %}
                {{ post_comments_amount }} comments
            {% endif %}

            {% if request.user == post.owner %}
                <a href="{{ post.delete_post_absolute_url }}">Delete post</a>
            {% endif %}
        </span>

        {% if request.user.is_authenticated %}
            <form method="post" action="{{ post.details_post_absolute_url }}">
                {{ form.as_p }}
                {% csrf_token %}
                <button type="submit">Comment</button>
            </form>
        {% else %}
            <p>If you want to comment, please <a href="{% url 'login' %}">login</a>.</p>

        {% endif %}
    </div>
    <br>
    {% for comment in post_comments %}
        <div class="comment">
            <span>
                <a href="{% url 'profile details' slug=comment.owner.slug %}">{{ comment.owner }}</a>
                {{ comment.date_made|timesince }} ago
            </span>

            <span>
                {% if comment.owner == comment.commented_post.owner %}
                    Post owner
                {% endif %}

                {% if comment.owner == request.user %}
                    <a href="{% url 'delete comment' comment.pk %}">Delete</a>
                {% endif %}
            </span>

            <div class="comment-description">
                <p>{{ comment.comment }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}